*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navegacion{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body{

    font-family: 'raleway', sans-serif;
    font-size: 16px;
}

header{
    background-image: url(../imagenes/fondo5.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header nav{
    height: 70px;
    background: #026074;
    display: flex;
    justify-content: space-between;
}

.icono{
    display: none;
}

.enlaces{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: 0.5s ease-out;
    color: white;
    text-decoration: none;

}

.enlaces a:hover, .active{
    border-top: 2px solid turquoise;
    border-bottom: 2px solid turquoise;
}

nav .logo{
    height: 100%;
    background: white;
    margin-left: 0px;
}

nav .logo img{
    object-fit: cover;
    height: inherit;
}

header .textos{
    text-align: center;
    color: #267871;
    margin-top: 150px;
  
}

header .textos h1{
    font-size: 100px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}

header .textos h2{
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 750px){
    .icono{
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: black;
        background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    
    }
header .textos h1{
    font-size: 75px;
}
.enlaces{
    position: fixed;
    height: 100vh;
    right: 0;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
    }

    .uno{
        -webkit-clip-path: circle(0% al 100% 0);
        clip-path: circle(0% at 100% 0);
    }

    .dos{
        -webkit-clip-path: circle(150% al 100% 0);
        clip-path: circle(150% at 100% 0);
    }
}

@media screen and (max-width:400px){
    nav .logo{
        margin-left: 20px;
    }
    .icono{
        margin-right: 20px;
    }
}

.contenedor-footer{
    flex-direction: column;
    border: none;
}

.content-foo{
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4{
    border: none;
}

.content-foo p{
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.titulo-final{
    font-size: 20px;
}

input[type="submit"]{
    width: 30%;
    height: 50px;
    margin-top: 70px;
    color: white;
    border: 0px;
    background: linear-gradient(360deg,#013d3d,#024352);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.8;
    transition-duration: 0.9s;
}

